* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background: hsl(217, 54%, 11%);
}

main {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    background-color: hsl(216, 50%, 16%);
    margin: 2rem auto;
    padding: 1.2rem;
    border-radius: 1rem;
    color: white;
    line-height: 1.5;
    font-size: 18px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}


.image-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.equi {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 1rem;

}



.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 255, 247, 0.5);
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .equi {
    transform: scale(1.05);
}


h1 {
    font-size: 1.8rem;
    margin-block-end: 0.7rem;
    margin-block-start: 0.7rem;
}

h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

p {
    color: hsl(215, 51%, 70%);
}

.price-con {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.7rem;
    margin-block-end: 1rem;
}

.price {
    color: hsl(178, 100%, 50%);
}

.author-container {
    display: flex;
    gap: 1rem;
    margin-block-start: 1rem;
    align-items: center;
}

.author-container img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
}

.name {
    color: white;
}

.name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}